
.container {
    max-width: 60rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 16px;
}

section {
    border: 1px solid magenta;
    padding: 8px;
    border-radius: 4px;
    flex-basis: calc(100%/2);
}



.banner img {
    width: 60rem;
}

.flex img {

}

section p {
    align-items: flex-start;
}
